@charset "UTF-8";
#content {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	padding-left: 75px;
	padding-top: 20px;
}
img {
}
#content h1 {
	padding-left: 330px;
}
#content a {
	color: #000000;
	padding-left: 370px;
	text-decoration: underline;
}
